/data/car-f-92
/data/car-s-91
/data/ear-f-83
/data/hec-s-92
/data/kfu-s-93
/data/lse-f-91
/data/pur-s-93
/data/rye-s-93
/data/sta-f-83
/data/tre-s-92
/data/uta-s-92
/data/ute-s-92
/data/yor-f-83
/.vscode